{% include 'header.twig' %}

<div class="my-3 my-md-5">
	<div class="container">
		<div class="row justify-content-center row-card statistics">
      <div class="col-lg-12">
        <div class="card p-4">
          {{ contentText }}
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% include 'footer.twig' %}
